API_BASE_URL=https://lexvoraconsulting.com/api/v1/myhealthhub
WEATHER_API_BASE_URL=https://apis.lexvoraconsulting.com/v1
WEATHER_API_REQUEST_KEY=
WEATHER_PROVIDER_DEV_KEY=2c116ec677ba4572ba365509262507
